@model string[]

@foreach (string x in Model)
{
    <div id="AccountItem" class="float-left m-2 rounded-pill disable-select" style="background-color: rgb(52, 58, 64)">
        <div class="mb-2 editorRow">
            <a class="float-left text-white mx-2">@x</a>
        </div>
    </div>
}