@model List<DataBase_Website.Models.DataBaseModels.AccountModel>

@foreach (DataBase_Website.Models.DataBaseModels.AccountModel x in Model)
{
<div id="AccountItem" class="float-left m-2 btn-dark rounded-pill editorRow">
    <div class="mb-2 editorRow">
        <a class="float-left text-white mx-2" id="AccountItemName">@x.AccountName</a>
    </div>
</div>
}