@model DataBase_Website.Models.DataBaseModels.JobModel

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Job</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input hidden="hidden" asp-for="JobId" value="@Guid.NewGuid()" class="form-control" />
            <span hidden="hidden" asp-validation-for="JobId" class="text-danger"></span>
            <div class="form-group float-left">
                <label asp-for="AssignedImages" class="control-label "></label>
                <input id="AssignedImages" hidden="hidden" asp-for="AssignedImages" class="form-control" />
                <div class="">
                    <input id="files" type="file" class="float-left" multiple @*size="1"*@ />
                    <div class="bg-dark rounded-pill float-left">
                        <a id="AddFile" class=" text-white ml-2 mr-2">Dodaj</a>
                    </div>
                </div>
                <br />
                <div id="AssignedImagesDiv" class="float-left">  </div>
                <span asp-validation-for="AssignedImages" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group" style="clear:both">
                <label asp-for="AssignedAccounts" class="control-label float-left"></label>
                <input id="AssignedAccounts" hidden="hidden" asp-for="AssignedAccounts" class="form-control" />
                <br />
                <div style="clear:both">
                    <a hidden="hidden" id="Replacable"></a>
                </div>

                <span asp-validation-for="AssignedAccounts" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group" style="clear:both">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}

<script>

    $(document).on("click", "i.DeleteRow", function () {
        //send post request to delete image 
        $.post('/Job/DeleteImage', { "": $(this).parent().find('a').text() });
        //remove div 
        $(this).parent().parent().remove();
    });

    //adding or removing specific account and adjusting visual 
    $(document).on("click", "a.AccountItemName", function () {
        if ($(this).parent().parent().css("background-color") == "rgb(52, 58, 64)") {
            $(this).parent().parent().css("background-color", "rgb(126, 242, 63)");
            $('#AssignedAccounts').val($('#AssignedAccounts').val() + ":" + $(this).text());
        } else {
            $(this).parent().parent().css("background-color", "rgb(52, 58, 64)");
            $('#AssignedAccounts').val($('#AssignedAccounts').val().replace(":" + $(this).text(), ''));
        }
    });
    
    $(document).ready(function () {
        //adding accounts to page
        $.ajax({
            url: '/Job/ReplaceItem',
            type: "GET",
            success: function (result) {
                $('#Replacable').replaceWith(result);
            }
        });

        //function for adding file to object
        $('#AddFile').click(function () {

            //get Uploaded files
            var fileUpload = $("#files").get(0);
            var files = fileUpload.files;

            // Create  a FormData object
            var fileData = new FormData();

            // if there are multiple files , loop through each files
            for (var i = 0; i < files.length; i++) {
                fileData.append(files[i].name, files[i]);
            }

            if (files.length != 0) {
                $.ajax({
                    url: '/Job/AddFile', //URL to upload files
                    type: "POST", //as we will be posting files and other method POST is used
                    processData: false, //remember to set processData and ContentType to false, otherwise you may get an error
                    contentType: false,
                    data: fileData,
                    success: function (result) {
                        $('#AssignedImagesDiv').append(result);
                        //Add to Hiden input field a name of added file so you can keep track of what files are added to this object 
                        $('#AssignedImages').val($('#AssignedImages').val() + ":" + $('#ItemName', $(result)).text());
                        //Clear Input after adding file 
                        $('#files').val('');
                    },//when success append html body to page
                    error: function (err) {
                        console.log(err);
                    }
                });
            }
        });
    });
</script>
}
