@model DataBase_Website.Models.DataBaseModels.JobModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AccountModel</h4>
    <hr />
    <div>
        @Html.HiddenFor(x => x.AssignedAccounts)
        <a hidden="hidden" id="replace_assignedaccounts"></a>
    </div>
    <br />
    <div style="clear:both">
        @Html.HiddenFor(x => x.AssignedImages)
        <a hidden="hidden" id="replace_assignedimages"></a>
    </div>
</div>
<br />
<div style="clear:both">
    <a asp-action="Edit" asp-route-id="@Model.JobId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>




@section Scripts{ 
<script>

    $(document).ready(function () {

        console.log($("#AssignedAccounts").val());

        $.ajax({
            url: '/Job/GetAllAccounts',
            type: "GET",
            data: { accounts: $("#AssignedAccounts").val() },
            success: function (result) {
                $('#replace_assignedaccounts').replaceWith(result);
            }
        });

        $.ajax({
            url: '/Job/GetAllImages',
            type: "GET",
            data: { images: $("#AssignedImages").val() },
            success: function (result) {
                $('#replace_assignedimages').replaceWith(result);
            }
        });
    });


</script>
}